<div class="blog-post-photo left-side">
  <img class="blog-post-image" src={{post.image}} alt="post image user">
</div>

<div class="blog-post-desc-wrapper right-side">
  <header>
    <h2>
      {{#link-to "posts.show" post.id}}
        {{capitalize post.title}}
      {{/link-to}}
    </h2>

    <div class="blog-post-desc">
      {{markdown-to-html (excerpt post.body 100)}}
    </div>
  </header>

  <footer class="blog-post-about">
    by <b>
      {{#link-to "users.show" post.user.id}}
        {{post.user.username}}
      {{/link-to}}
    </b> at {{format-date post.created_at}}

    {{#if post.wasEdited}}
      • <h2>Post was edited</h2>
    {{/if}}
  </footer>
</div>
