<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to "Home" "index" class="navbar-brand"}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>{{link-to "About" "about"}}</li>
        <li>{{link-to "Contact" "contact"}}</li>

        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Blog<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>{{link-to "New blog post" "posts.new"}}</li>
            </ul>
          </li>

          <li>{{link-to 'Users' 'users'}}</li>

          <li><a href="#" {{action (route-action 'logout')}}>Logout</a></li>
          <li>
            <a href="http://twitter.com/{{session.currentUser.displayName}}" target="_blank">
              <img src="{{session.currentUser.photoURL}}" height="30px" width="30px"/>
            </a>
          </li>
        {{else}}
          <li><a href="#" {{action (route-action 'login')}}>Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
