<!-- Best way of doing this!!! -->
<div class="loading-posts-wrapper posts-wrapper">
  {{blog-post-preview-skeleton}}
  {{blog-post-preview-skeleton}}
  {{blog-post-preview-skeleton}}
  {{blog-post-preview-skeleton}}
  {{blog-post-preview-skeleton}}
  {{blog-post-preview-skeleton}}
</div>
