<div class="container">
  <div class="title">
    <h1>{{title}}</h1>
  </div>

  <br>

  <div class="post-body">
    <div class="col-md-6">
      {{post-form model=model title=title action=(action 'savePost')}}
    </div>

    <div class="col-md-6">
      {{#if postIsNotEmpty}}
        <div class="post-preview">
          <h1>{{model.title}}</h1>
          <br>
          {{markdown-to-html markdown=model.body}}
        </div>
      {{else}}
        Post will go here ...
      {{/if}}
    </div>
  </div>
</div>
