<div class="col-md-6 col-md-push-3 container">
  <h2 class="text-center">{{errorMessage}}</h2>
  <h2 class="text-center">Please login</h2>

  <div class="col-sm-12 {{if errorMessage 'has-error'}}">
    <div class="form-group">
      <label for="">Email* </label>
      {{input value=email type="text" class="form-control" name="username" placeholder="test@example.com" required="true"}}
    </div>
    <div class="form-group">
      <label for="">Password* </label>
      {{input value=password type="password" class="form-control" name="password" placeholder="password1234" required="true"}}
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit" {{action 'login'}}>Login</button>
    </div>
  </div>
</div>
